@model sem2.Models.ViewModels.AdminPanelModels.CreateFilmModel

<div class="header-content">
    <div class="container">
        <div class="admin-panel-main-text">Добавить фильм</div>
        <form method="post" action="" enctype="multipart/form-data" class="admin-panel-form">
            <div class="form-group">
                <label asp-for="Name">Название</label>
                <input asp-for="Name" class="form-control" placeholder="Название фильма" />
            </div>
            <span asp-validation-for="Name"></span>
            
            <div class="form-group">
                <label asp-for="OriginalName" style="width: 22%;">Оригинальное Название</label>
                <input asp-for="OriginalName" class="form-control" placeholder="Оригинальное Название фильма" />
            </div>
            <span asp-validation-for="OriginalName"></span>
            
            <div class="form-group">
                <label asp-for="Producer">Режисер</label>
                <input asp-for="Producer" class="form-control" />
            </div>
            <span asp-validation-for="Producer"></span>
            
            <div class="form-group">
                <label asp-for="Actors">Актеры</label>
                <input asp-for="Actors" class="form-control" placeholder="Перечислите актеров через запятую" />
            </div>
            <span asp-validation-for="Actors"></span>
            
            <div class="form-group vertical">
                <label asp-for="ShortDescription">Короткое описание</label>
                <textarea asp-for="ShortDescription" class="form-control"></textarea>
            </div>
            <span asp-validation-for="ShortDescription"></span>
            
            <div class="form-group vertical">
                <label asp-for="LongDescription">Полное описание</label>
                <textarea asp-for="LongDescription" class="form-control"></textarea>
            </div>
            <span asp-validation-for="LongDescription"></span>
            
            <div class="form-group mt-4 mb-1">
                <label for="inputGroupFile01">Лого</label>
                <input type="file" class="custom-file-input" id="inputGroupFile01" name="LogoImage">
                <label class="custom-file-label" for="inputGroupFile01">Выберите файл</label>
                <label for="inputGroupFile01" class="custom-file-label-after">Browse</label>
            </div>

            <div class="form-group mb-1">
                <label for="inputGroupFile01">Фон</label>
                <input type="file" class="custom-file-input" id="inputGroupFile02" name="BackgroundImage">
                <label class="custom-file-label" for="inputGroupFile02">Выберите файл</label>
                <label for="inputGroupFile02" class="custom-file-label-after">Browse</label>
            </div>

            <div class="form-group mb-1">
                <label for="inputGroupFile01">Фильм</label>
                <input type="file" class="custom-file-input" id="inputGroupFile03" name="Video">
                <label class="custom-file-label" for="inputGroupFile03">Выберите файл</label>
                <label for="inputGroupFile03" class="custom-file-label-after">Browse</label>
            </div>

            <button type="submit" class="admin-panel-submit-button mt-4">Добавить фильм</button>
        </form>
    </div> <!-- Container -->
</div>	<!-- header-content -->

@section Scripts
{
    <script>
        $(()=>{
            $('input[type="file"]').change(function (){
               let $this = $(this);
               $this.parent().find('.custom-file-label').text($this[0].files[0].name);
            });
        })
    </script>
    <link rel="stylesheet" href="~/css/adminPanel.css">
    <link rel="stylesheet" href="~/css/validation.css">
}