<link rel="stylesheet" href="~/css/collapse.css?ver=100">
<div class="header-content">
    <div class="container">
        <!--<div class="row align-items-center justify-content-between">-->
        <div class="description" >
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="film">
                        <div class="film_logo">
                            <img src="~/images/major_logo.webp" style="height: 158px; width: 160px" alt="img">
                        </div>
                        <div class="film_rate">
                            <div class="rate">
                                7.3&ensp;&ensp;
                            </div>
                            <div class="about_film">
                                2021, приключения, боевик&ensp;  Россия&ensp;  2 ч 16 мин&ensp;
                            </div>
                            <div class="film_age">
                                12+
                            </div>
                            <p class="film_text">Юноша выдумывает язык, чтобы выжить в концлагере. Драма о Холокосте от автора «Дома из песка и тумана»</p>
                            <button class="watch">Начать просмотр</button>
                            <button class="add">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                    <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2z"/>
                                </svg>
                            </button>
                        </div>
                        <div class="content_background_details1"></div>
                        <div class="content_background_details2-0">
                            <img class="content_background_details2-0-img" src="~/images/majorThunder.jpg" style="height: 400px; width:500px" alt="img">
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="content_background_details">
                        <div class="film_logo">
                            <img src="~/images/major_logo.webp" style="height: 110px; width: 130px" alt="img">
                        </div>
                        <div class="content_background_details2">
                            <img src="~/images/majorThunder.jpg" style="height: 400px" alt="img">
                        </div>
                        <div class="film_rate2">
                            <div class="rate">
                                7.3&ensp;
                            </div>
                            <p class="film_text">1942 год, оккупированная Европа. Оказавшись в концлагере, бельгиец еврейского происхождения Жиль Кремье выдает себя за перса — для него это единственная возможность остаться в живых. Это ложь действительно спасает ему жизнь, но Жиль еще не представляет, какой ценой. Довольные таким редким уловом немецкие солдаты приводят Жиля к концлагерному повару Клаусу Коху, который мечтает, как только закончи…</p>
                        </div>
                        <div class="content_background_details1"></div>
                        <div class="roles">
                            <p id="main_roles"><p style="color: #7f8291; font-size: 14px">В главных ролях<p>
                            Науэль Перес Бискаярт<br>
                            Ларс Айдингер<br>
                            Йонас Най<br>
                            Давид Шюттер<br>
                            Александр Байер<br>
                            Андреас Хофер<br>
                            Леони Бенеш<br>
                            Луиза-Селин Гаффрон<br>
                            Нико Эрентайт<br>
                            Джузеппе Скиллачи<br>
                        </p>
                            <p class="producer"><p style="color: #7f8291; font-size: 14px">Режиссеры<p>
                            Вадим Перельман<br>
                        </p>
                            <p class="name"><p style="color: #7f8291; font-size: 14px">Оригинальное название<p>
                            Persian Lessons
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--</div> &lt;!&ndash; row &ndash;&gt;-->
    </div> <!-- Container -->
</div>	<!-- header-content -->

<footer id="footer">
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-6">
                <div id="information">
                    <h2>FilmMediaHD</h2>
                    <p class="italic">If you have any problems or questions, please contact us by phone, email  or at the address:</p>
                    <div class="information">
                        <p><i class="fa fa-phone"></i> Telephone: +8 946 552 97 36</p>
                        <p><i class="fa fa-envelope-o"></i> Email: filmmedia@gmail.com</p>
                        <p><i class="fa fa-map"></i> Address: Kazan, st.Pushkina 32</p>
                        <p><i class="fa fa-clock-o"></i> 8:00 - 20:00, Monday - Saturday, Sunday - closed</p>
                        <p><i class="fa fa-comment"></i><a href="supportChat.html">Связаться с поддержкой</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0713484921584!2d49.12397771590237!3d55.79199898056382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead13c469b355%3A0x6eaecda0bd9d795b!2z0YPQuy4g0J_Rg9GI0LrQuNC90LAsIDMyLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDAxNQ!5e0!3m2!1sru!2sru!4v1617977468445!5m2!1sru!2sru" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
    <!-- End container -->
</footer>
