@model FilmDTO

<div class="col-4 item">
    <a class="btn d-block col-4" href="@Url.Content($"~/AboutFilm/{Model.Id}")" aria-expanded="false" aria-controls="collapseExample">
        <div class="block_with_image">
            <div class="estimation_block">
                <p class="estimation">7,4</p>
                <img class="img-fluid" src="@Url.Content(@Url.Content($"~/{Model.LogoImagePath}"))" alt="">
            </div>
        </div>
    </a>
</div>