@using sem2.Views
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model sem2.Models.ViewModels.HomeModels.CatalogViewModel

<link rel="stylesheet" href="~/css/collapse.css">

<input type="hidden" name="query" id="search-query" value="@Model.Query">
<div class="header-content">
    <div class="container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner carousel-overflow">
                @{ var activeString = "active";}
                @foreach (var filmGroup in Model.Films.GroupByN(3))
                {
                    <div class="carousel-item @activeString">
                        
                            <div class="row <!--no-gutters-->">
                                @foreach (var film in filmGroup)
                                {
                                    @Html.Partial("CatalogCarouselFilmItemPartial", film)
                                }
                            </div>
                        </div>
                    activeString = "";
                }
            </div>
                <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>
        <div id="products-container" class="row products">
            @foreach (var p in Model.Films)
            {
                @Html.Partial("FilmCardPartial", p)
            }

            <!-- /.products-->
        </div>

        <!--</div> &lt;!&ndash; row &ndash;&gt;-->
    </div> <!-- Container -->
</div>	<!-- header-content -->

<script>
    $('#multiCarousel').carousel({
        interval: 10000
    })
    /*$('.carousel .carousel-item').each(function(){
        var next = $(this).next();
        if (!next.length) {
            next = $(this).siblings(':first');
        }
        next.children(':first-child').clone().appendTo($(this));

        for (var i=0;i<2;i++) {
            next=next.next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }

            next.children(':first-child').clone().appendTo($(this));
        }
    });*/
</script>