@using sem2.Views
@model FilmDTO


<a href="@Url.Content($"~/AboutFilm/{Model.Id}")" style="display: contents">
<img class="card_logo" src="@Url.Content(@Url.Content($"~/{Model.LogoImagePath}"))" alt="" style="width:100%">
</a>

