

    <div class="header-content">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-lg-5 text-center text-lg-left order-last order-lg-first">
                    <div class="header-text">
                        <h1 class="sec-title-xl">Оформите подписку МедиаПлюс</h1>
                        <p class="lead">Фильмы и сериалы по подписке Плюс 30 дней бесплатно. Далее 399 руб/мес</p>
                        <a href="#" class="btn-lg">Оформить подписку</a>
                    </div>
                </div> <!-- col -->

                <div class="col-lg-6">
                    <div class="header-img sec-img">
                        <img src="images/1.gif" class="img-fluid" alt="header-img">
                    </div>
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- Container -->
    </div>	<!-- header-content -->

    <footer id="footer">
        <div class="container">
            <div class="row footer-top">
                <div class="col-md-6">
                    <div id="information">
                        <h2>FilmMediaHD</h2>
                        <p class="italic">If you have any problems or questions, please contact us by phone, email  or at the address:</p>
                        <div class="infomation">
                            <p><i class="fa fa-phone"></i> Telephone: +8 946 552 97 36</p>
                            <p><i class="fa fa-envelope-o"></i> Email: filmmedia@gmail.com</p>
                            <p><i class="fa fa-map"></i> Address: Kazan, st.Pushkina 32</p>
                            <p><i class="fa fa-clock-o"></i> 8:00 - 20:00, Monday - Saturday, Sunday - closed</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2243.0713484921584!2d49.12397771590237!3d55.79199898056382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ead13c469b355%3A0x6eaecda0bd9d795b!2z0YPQuy4g0J_Rg9GI0LrQuNC90LAsIDMyLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDAxNQ!5e0!3m2!1sru!2sru!4v1617977468445!5m2!1sru!2sru" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <!-- End container -->
    </footer>
