@model bool

<div class="header-content">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-lg-5 text-center text-lg-left order-last order-lg-first">
                <div class="header-text">
                    <h1 class="sec-title-xl">Оформите подписку МедиаПлюс</h1>
                    <p class="lead">Фильмы и сериалы по подписке Плюс за 399 руб/мес</p>
                    @if (!Model)
                    {
                        <a subscribe=3 class="btn-lg">Оформить подписку</a>
                    }
                    else
                    {
                        <a class="btn-lg disabled">Подписка оформлена</a>
                    }
                </div>
            </div> <!-- col -->
            <div class="col-lg-6">
                <div class="header-img sec-img">
                    <img src="~/images/1.gif" class="img-fluid" alt="header-img">
                </div>
            </div> <!-- col -->
        </div> <!-- row -->
    </div> <!-- Container -->
</div>	<!-- header-content -->

