@using sem2.Views
@model FilmDTO

<div class="card">
  <a href="@Url.Content($"~/AboutFilm/{Model.Id}")">
  <img src="@Url.Content(FilmHelpers.LogoImagePath(Model.Id))" alt="Denim Jeans" style="width:100%">
  <h1>@Model.Name</h1>
  @* <p>Some text about the jeans..</p> *@
  @* <p><button>Add to Cart</button></p> *@
  </a>
</div>
