.text-white{
    color: white;
}

.mt-10p{
    margin-top: 10%;
}

.modal{
    z-index: 5000;
}

.modal-header{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "ModalTitle ModalCloseButton";
}

.modal-title{
    grid-area: ModalTitle;
    font-size: 20px;
}  

.close{
    grid-area: ModalCloseButton;
    justify-content: flex-end;
    display: flex;
}
