.text-white{
    color: white;
}

.mt-10p{
    margin-top: 10%;
}

.modal{
    z-index: 5000;
}

.carousel-item .row{
    flex-wrap: initial;
}

.carousel-overflow {
    overflow: hidden;
}

.carousel-item .item{
    height: 300px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 300px;
}

.modal-header{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "ModalTitle ModalCloseButton";
}

.modal-title{
    grid-area: ModalTitle;
    font-size: 20px;
}  

.close{
    grid-area: ModalCloseButton;
    justify-content: flex-end;
    display: flex;
}
