form.example input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}
form{
    border-radius: 10px;
}
form.example{
   padding-top: 15px;
    padding-left: 10px;
}
form.example button {
    float: left;
    width: 20%;
    background: #eec111;
    color: white;
    font-size: 17px;
    border: 1px solid darkslateblue;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}