@model string

@{
    Layout = "_AccountLayout";
}
    
<p class="lead text-center">Для завершения регистрации Вам было отправлено сообщение с дальнейшими инструкциями на электронную почту @Model.</p>

@if (!ViewData.ModelState.IsValid)
{
    <div>@Html.ValidationSummary()</div>
}