@model string

@{
    Layout = "_AccountLayout";
}

<p class="lead text-center email-confirmation-text">Для завершения регистрации Вам было отправлено сообщение с дальнейшими инструкциями на электронную почту @Model.</p>

@if (!ViewData.ModelState.IsValid)
{
    <div>@Html.ValidationSummary()</div>
}