@model int

@{
    Layout = "_AccountLayout";
}
    
<div>
    @if (ViewData.ModelState.IsValid)
    {
            <p class="lead text-center">Регистрация завершена успешно.</p>
    }
    else
    {
            <p class="lead text-center">Срок действия ключа подтверждения истек, <a href="@Url.Action("ConfirmEmail")?userId=@Model">попробуйте еще раз</a></p>
    }
</div>