@model sem2.Models.ViewModels.AccountModels.RegisterModel

@{
    Layout = "_AccountLayout";
}
    
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Section2" aria-controls="home" role="tab" data-toggle="tab">sign up</a></li>
</ul>
<!-- Tab panes -->
<div class="tab-content tabs">
    <div role="tabpanel" class="tab-pane fade in active" id="Section2">
        <form class="form-horizontal" action="" method="post">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }
            <div class="form-group">
                <label asp-for="FirstName">Имя</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">Фамилия</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" ></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">Подтвердите пароль</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" ></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Sign up</button>
            </div>
            <div class="form-group create-account">
                <span id="look">Looking to</span>
                <a asp-area="" asp-controller="Account" asp-action="Login" type="submit" id="createAccount" class="btn btn-default">log in ?</a>
            </div>
        </form>
    </div>
</div>