@model string

@{
    Layout = "_AccountLayout";
}

@if (!ViewData.ModelState.IsValid)
{
        <div>@Html.ValidationSummary()</div>
}
else
{
        <p class="lead text-center">Для смены пароля Вам было отправлено сообщение с дальнейшими инструкциями на электронную почту @Model.</p>
}