@model sem2.Models.ViewModels.AccountModels.EmailModel

@{
    Layout = "_AccountLayout";
}

<!-- Tab panes -->
<div class="tab-content tabs">
    <div role="tabpanel" class="tab-pane fade in active" id="ResetPassword">
        <form class="form-horizontal" action="" method="post">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" ></span>
            <div class="form-group send">
                <button type="submit" id="sendEmail">Отправить</button>
            </div>
        </form>
    </div>
</div>

