@model sem2.ViewModels.SubscriptionModels.SubscriptionCatalogViewModel

<div class="header-content">
    <div class="container">
        <div class="subscriptions-container">
            @foreach (var subscription in Model.Subscriptions)
            {
                @Html.Partial("SubscriptionPartial", subscription)
            }
        </div>
    </div> <!-- Container -->
</div>	<!-- header-content -->

@section Scripts
{
    <link rel="stylesheet" href="css/subscriptionCatalog.css">
}
