@{ Layout = "_Layout"; }

<div class="header-content">
    <div class="container">
        <form asp-action="SupportChat" method="post" id="chat-form">
            <select id="chat_selector" name="userId"></select>
            <input type="submit" class="chat-btn">
        </form>
    </div> <!-- Container -->
</div>	<!-- header-content -->

<script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/supportChatSelector.js"></script>
<script>
    run()
</script>